
/* FOOTER mobile */
footer p {
    font-family: 'Roboto Mono', monospace;
    color:#000
}

footer {
    background-color: #F9F4F2;
    text-align: center;
}
/* FOOTER desktop */
@media screen and (min-width: 768px){
    footer{
        display: flex;
        justify-content:space-between;
        text-align: left;
        padding: 2% 10% 2% 10%;
    }
    .header-image-container-home {
        background-image: url(Images/header-taylor-swift-tributo.jpg);
        background-size: cover;
        background-position: 40% 50%;
        background-repeat: no-repeat;
    }
}

.header-image-container-home {
    height: 900px;
    width: auto;
    background-image: url(Images/header-taylor-swift-tributo.jpg);
    background-size: cover;
    /* background-position: center 50%; */
    background-repeat: no-repeat;
}

body {
    background-color: #F9F4F2; 
    color: #000; 
    font-family: 'Roboto Mono', monospace;
    margin: 0; 
    font-size: 12px;
}

/* NAVBAR DESKTOP */

nav {
    height: 100px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 10% 0 10%;
    background-color: #E7E2E0;
}

nav #logo {
    width: 40%;
}

nav #logo img {
    width: 100%;
}

nav .menu {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    gap: 40px;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    color:black;
}

nav li:nth-child(1) a:hover, nav li:nth-child(1) a:active {
    text-decoration: line-through 2px #ff906b;
}

nav li:nth-child(2) a:hover, nav li:nth-child(2) a:active {
    text-decoration: line-through 2px #AB1D1D;
}

nav li:nth-child(3) a:hover, nav li:nth-child(3) a:active {
    text-decoration: line-through 2px #020E48;
}

/* NAV MOBILE */

@media screen and (max-width: 768px) {

    nav {
        justify-content: center;
    }

    nav .menu {
        display: none;
    }

    nav #logo {
        width: 70%;    
    }
}