/* FOOTER mobile */
p {
    font-family: 'Roboto Mono', monospace;
}

footer {
    background-color: #F9F4F2;
    text-align: center;
}
/* FOOTER desktop */
@media screen and (min-width: 768px){
    footer{
        display: flex;
        

}
}